APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

INPRINT_NAME="Max Mustermann"
INPRINT_STREET="Example Street 7"
INPRINT_CITY="00000 Example City"
INPRINT_PHONE="+49000000000"
INPRINT_MAIL="example@example.com"